@import "compass";
@import "fancy-buttons";
@import "compass/layout";
@import "core/extensions";

@include global-reset;
@include reset-html5;

@import "core/base-classes";

@import "partials/theme";
@import "partials/layout";
@import "partials/typography";

@import "partials/nav";
@import "partials/sidebar";
@import "partials/main";
@import "partials/code";
@import "partials/example";
@import "partials/install";
@import "partials/blog";
@import "partials/home";

@import "syntax/syntax-theme";

@import "core/clearing-classes";

.foo { }

html.dark { 
  @include dark-theme(true); 
  .extension a {
    @extend .inset-panel-dark;
  }
}
html.light { 
  @include light-theme(true); 
  .extension a {
    @extend .inset-panel-light;
  }
}
.extension {
  @include float-left;
}
.extension a {
  margin: 3px;
  display:block;
  padding: {
    top:6px;
    bottom:6px;
  }
  width: 240px;
  text-align:center;
}
.clearfix {
  @include clearfix;
}

.extensions {
  @extend .clearfix;
}

form.new_extension {
  
  
  
  legend {
    @extend h3;
    &:before {
      content: "Step " counter(fieldsets) ": ";
      counter-increment: fieldsets;
    }
  }
  li {
    list-style: none;
    margin-bottom:1.5em;
  }
  
  label {
    padding-right:10px;
    width:110px;
    @include float-left;
    &:hover {
      cursor:pointer;
    }
  }
  
  input[type="submit"] {
    @include fancy-button;
  }
}
